In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'D:\STUDIA\Programowanie\DATA_SCIENCE\PANDAS\Pandas_Corey_Schafer_YT_Course\data\2019\survey_results_public.csv', index_col='Respondent')

In [3]:
schema_df = pd.read_csv(r'D:\STUDIA\Programowanie\DATA_SCIENCE\PANDAS\Pandas_Corey_Schafer_YT_Course\data\2019\survey_results_schema.csv',index_col='Column')

In [4]:
df['ConvertedComp'].head(15)

Respondent
1          NaN
2          NaN
3       8820.0
4      61000.0
5          NaN
6     366420.0
7          NaN
8          NaN
9      95179.0
10     13293.0
11         NaN
12         NaN
13     90000.0
14     57060.0
15         NaN
Name: ConvertedComp, dtype: float64

In [5]:
df['ConvertedComp'].median()

57287.0

In [6]:
df.median()

CompTotal        62000.0
ConvertedComp    57287.0
WorkWeekHrs         40.0
CodeRevHrs           4.0
Age                 29.0
dtype: float64

In [8]:
#poland salary median
filt_pl = (df['Country'] == 'Poland')
dd = df[filt_pl]
dd.median()

CompTotal        10000.0
ConvertedComp    32064.0
WorkWeekHrs         40.0
CodeRevHrs           4.0
Age                 28.0
dtype: float64

In [10]:
#miesiecznie
USD = 3.91
PL_monthly = (32064.0/12)*USD
print(PL_monthly)

10447.52

In [11]:
df.describe()

          CompTotal  ConvertedComp   WorkWeekHrs    CodeRevHrs           Age
count  5.594500e+04   5.582300e+04  64503.000000  49790.000000  79210.000000
mean   5.519014e+11   1.271107e+05     42.127197      5.084308     30.336699
std    7.331926e+13   2.841523e+05     37.287610      5.513931      9.178390
min    0.000000e+00   0.000000e+00      1.000000      0.000000      1.000000
25%    2.000000e+04   2.577750e+04     40.000000      2.000000     24.000000
50%    6.200000e+04   5.728700e+04     40.000000      4.000000     29.000000
75%    1.200000e+05   1.000000e+05     44.750000      6.000000     35.000000
max    1.000000e+16   2.000000e+06   4850.000000     99.000000     99.000000

In [12]:
df['ConvertedComp'].count() #this show us how much people answere the question

55823

In [13]:
df['SocialMedia'].value_counts()

Reddit                      14374
YouTube                     13830
WhatsApp                    13347
Facebook                    13178
Twitter                     11398
Instagram                    6261
I don't use social media     5554
LinkedIn                     4501
WeChat 微信                     667
Snapchat                      628
VK ВКонта́кте                 603
Weibo 新浪微博                     56
Youku Tudou 优酷                 21
Hello                          19
Name: SocialMedia, dtype: int64

In [14]:
df['SocialMedia'].value_counts(normalize=True)

Reddit                      0.170233
YouTube                     0.163791
WhatsApp                    0.158071
Facebook                    0.156069
Twitter                     0.134988
Instagram                   0.074150
I don't use social media    0.065777
LinkedIn                    0.053306
WeChat 微信                   0.007899
Snapchat                    0.007437
VK ВКонта́кте               0.007141
Weibo 新浪微博                  0.000663
Youku Tudou 优酷              0.000249
Hello                       0.000225
Name: SocialMedia, dtype: float64

In [15]:
#grouping
country_grp = df.groupby(['Country'])

In [16]:
country_grp.get_group('Poland')

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
52,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Poland,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",...,A lot less welcome now than last year,NaN,22.0,Man,No,NaN,NaN,No,Appropriate in length,Neither easy nor difficult
81,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Poland,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area,28.0,Man,No,NaN,White or of European descent,No,Appropriate in length,Easy
192,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Poland,"Yes, full-time","Master’s degree (MA, MS, M.Eng., MBA, etc.)",Mathematics or statistics,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers,28.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
194,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Poland,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Courses on technologies you're interested in,29.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
230,I am a developer by profession,Yes,Never,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Poland,NaN,Some college/university study without earning ...,"Information systems, information technology, o...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,NaN,Man,No,Straight / Heterosexual,White or of European descent,No,Too long,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88871,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Poland,"Yes, part-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...","Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too long,Neither easy nor difficult
18256,NaN,No,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Poland,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,Completed an industry certification program (e...,...,Just as welcome now as I felt last year,NaN,42.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Neither easy nor difficult
22192,NaN,No,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",Poland,No,NaN,"A natural science (ex. biology, chemistry, phy...",Taken an online course in programming or softw...,...,A lot less welcome now than last year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy
62177,NaN,Yes,Less than once per year,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Poland,NaN,"Secondary school (e.g. American high school, G...",NaN,NaN,...,Not applicable - I did not use Stack Overflow ...,Courses on technologies you're interested in,NaN,NaN,NaN,NaN,White or of European descent,NaN,Appropriate in length,Difficult
81994,NaN,Yes,Never,The quality of OSS and closed source software ...,Employed part-time,Poland,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,NaN,NaN,22.0,Woman,No,NaN,White or of European descent,No,Too long,Easy

In [18]:
filt = df['Country'] == 'Poland'
df[filt]['SocialMedia'].value_counts()

Facebook                    619
YouTube                     366
Reddit                      258
I don't use social media    180
Twitter                     164
Instagram                    86
LinkedIn                     72
WhatsApp                     64
Snapchat                      7
VK ВКонта́кте                 4
Hello                         1
Name: SocialMedia, dtype: int64

In [23]:
country_grp['SocialMedia'].value_counts().head(50)

Country              SocialMedia
Afghanistan          Facebook                     15
                     YouTube                       9
                     I don't use social media      6
                     WhatsApp                      4
                     Instagram                     1
                     LinkedIn                      1
                     Twitter                       1
Albania              WhatsApp                     18
                     Facebook                     16
                     Instagram                    13
                     YouTube                      10
                     Twitter                       8
                     LinkedIn                      7
                     Reddit                        6
                     I don't use social media      4
                     Snapchat                      1
                     WeChat 微信                     1
Algeria              YouTube                      42
                     Facebook                     41
                     Twitter                      14
                     LinkedIn                      9
                     I don't use social media      7
                     Instagram                     7
                     Reddit                        2
                     WhatsApp                      2
Andorra              Facebook                      2
                     I don't use social media      2
                     Reddit                        1
                     Snapchat                      1
                     YouTube                       1
Angola               Twitter                       2
                     Facebook                      1
                     YouTube                       1
Antigua and Barbuda  YouTube                       2
                     Facebook                      1
                     Instagram                     1
                     Twitter                       1
                     VK ВКонта́кте                 1
Argentina            WhatsApp                    202
                     Twitter                      80
                     YouTube                      62
                     Instagram                    53
                     Reddit                       50
                     Facebook                     45
                     I don't use social media     22
                     LinkedIn                     16
Armenia              Facebook                     38
                     YouTube                      23
                     LinkedIn                      5
                     Instagram                     3
Name: SocialMedia, dtype: int64

In [27]:
country_grp['SocialMedia'].value_counts(normalize=True).loc[['India','Poland']]

Country  SocialMedia
India    WhatsApp                    0.342379
         YouTube                     0.208405
         LinkedIn                    0.109355
         Facebook                    0.096301
         Instagram                   0.094126
         Twitter                     0.062063
         Reddit                      0.054162
         I don't use social media    0.028627
         Snapchat                    0.002634
         Hello                       0.000573
         WeChat 微信                   0.000573
         VK ВКонта́кте               0.000458
         Youku Tudou 优酷              0.000229
         Weibo 新浪微博                  0.000115
Poland   Facebook                    0.339923
         YouTube                     0.200988
         Reddit                      0.141680
         I don't use social media    0.098847
         Twitter                     0.090060
         Instagram                   0.047227
         LinkedIn                    0.039539
         WhatsApp                    0.035146
         Snapchat                    0.003844
         VK ВКонта́кте               0.002197
         Hello                       0.000549
Name: SocialMedia, dtype: float64

In [33]:
country_grp['ConvertedComp'].median().loc['Ukraine']

26940.0

In [35]:
country_grp['ConvertedComp'].agg(['median','mean']).loc['Canada']

median     68705.000000
mean      134018.564909
Name: Canada, dtype: float64

In [39]:
filt = df['Country'] == 'Poland'
df[filt]['LanguageWorkedWith'].str.contains('Python').value_counts()

False    1156
True      751
Name: LanguageWorkedWith, dtype: int64

In [40]:
df[filt]['LanguageWorkedWith'].str.contains('Python').sum()

751

In [48]:
#country_grp['LanguageWorkedWith'].str.contains('Python').sum()   #error - we need add apply method here

AttributeError: 'SeriesGroupBy' object has no attribute 'str'

In [47]:
country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [50]:
country_respondent = df['Country'].value_counts()
country_respondent

United States            20949
India                     9061
Germany                   5866
United Kingdom            5737
Canada                    3395
                         ...
Saint Kitts and Nevis        1
Chad                         1
Niger                        1
Papua New Guinea             1
North Korea                  1
Name: Country, Length: 179, dtype: int64

In [52]:
country_uses_python  = country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
country_uses_python

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [55]:
#merge two data frames
python_df = pd.concat([country_respondent,country_uses_python], axis='columns', sort=False)
python_df

                       Country  LanguageWorkedWith
United States            20949               10083
India                     9061                3105
Germany                   5866                2451
United Kingdom            5737                2384
Canada                    3395                1558
...                        ...                 ...
Saint Kitts and Nevis        1                   0
Chad                         1                   0
Niger                        1                   1
Papua New Guinea             1                   0
North Korea                  1                   0

[179 rows x 2 columns]

In [58]:
#rename columns
python_df.rename(columns={'Country':'NumRespondents', 'LanguageWorkedWith':'NumKnowsPython'}, inplace=True)
python_df

                       NumRespondents  NumKnowsPython
United States                   20949           10083
India                            9061            3105
Germany                          5866            2451
United Kingdom                   5737            2384
Canada                           3395            1558
...                               ...             ...
Saint Kitts and Nevis               1               0
Chad                                1               0
Niger                               1               1
Papua New Guinea                    1               0
North Korea                         1               0

[179 rows x 2 columns]

In [60]:
python_df['PctKnowsPython'] = ((python_df['NumKnowsPython']/python_df['NumRespondents'])*100)
python_df

                       NumRespondents  NumKnowsPython  PctKnowsPython
United States                   20949           10083       48.131176
India                            9061            3105       34.267741
Germany                          5866            2451       41.783157
United Kingdom                   5737            2384       41.554820
Canada                           3395            1558       45.891016
...                               ...             ...             ...
Saint Kitts and Nevis               1               0        0.000000
Chad                                1               0        0.000000
Niger                               1               1      100.000000
Papua New Guinea                    1               0        0.000000
North Korea                         1               0        0.000000

[179 rows x 3 columns]

In [62]:
python_df.sort_values(by='PctKnowsPython',ascending=False, inplace=True)

In [65]:
python_df.loc['Poland']

NumRespondents    1922.000000
NumKnowsPython     751.000000
PctKnowsPython      39.073881
Name: Poland, dtype: float64